@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono");

:root {
    --white: #fff;
    --link-color: #3b9e9e;
    --link-hover: #48bfbf;
    --font-color: #5d5f63;
    --dark-color: #212323;
    --experience-bg: #edeff661;
    --tools-color: #48bfbf;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hidden {
    display: none;
}

.professional-list li {
    cursor: pointer;
    margin-right: 10px;
    padding-right: 20px;
    transition: all 0.2s;
    border-right: 1px solid var(--link-color);
}

.professional-list li:hover {
    color: var(--link-hover);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

body {
    font-family: "Droid Sans Mono", monospace;
    font-size: 16px;
    line-height: 1.6em;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

small {
    font-size: 14px;
    color: var(--font-color);
}

.bold {
    color: var(--dark-color);
    font-weight: 600;
}

.profile {
    background: var(--white);
    width: 30vw;
    min-height: 70vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    color: var(--font-color);
}

.profile h1 {
    font-size: 2.5em;
    color: var(--dark-color);
    text-transform: uppercase;
    line-height: 1.2em;
}

.profile li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    margin-top: 100px;
}

.contact-presentation {
    margin-top: 100px;
    margin-bottom: 100px;
}

.content {
    background: var(--experience-bg);
    color: var(--font-color);
    font-weight: 300;
    min-height: 100vh;
    width: 70vw;
    margin-left: 30vw;
    overflow: hidden;
}

.content .professional-list {
    color: var(--link-color);
    text-align: left;
    font-size: 1.4em;
    margin-bottom: 60px;
    font-weight: 400;
}

.content .professional-list li {
    display: inline-block;
}

.content-item {
    display: flex;
    margin-right: 100px;
    margin-bottom: 60px;
}

.content-info {
    flex: 1;
    padding-right: 100px;
}

.content-desc {
    flex: 2.4;
}

.content-title {
    color: var(--dark-color);
    margin-bottom: 10px;
    display: inline-block;
}

.experience-project-container {
    margin-bottom: 40px;
}

.section-padding {
    padding: 60px 60px 40px 40px;
}

.skill-percentage,
.skill-percentage-tooling {
    margin-bottom: 10px;
    position: relative;
}

.skill-percentage::after,
.skill-percentage-tooling::after {
    content: "";
    width: 100%;
    height: 6px;
    background: var(--white);
    display: block;
    margin-top: 3px;
}

.skill-percentage::before,
.skill-percentage-tooling::before {
    content: "";
    height: 6px;
    background: var(--link-color);
    position: absolute;
    margin-top: 3px;
    bottom: 0;
}

.skill-percentage-tooling::before {
    background: var(--tools-color);
}

/* programing skills percentages*/
.skill-percentage:nth-child(1)::before {
    width: 92%;
    animation: skill_1 0.6s ease;
}

.skill-percentage:nth-child(2)::before {
    width: 95%;
    animation: skill_2 0.6s ease;
}

.skill-percentage:nth-child(3)::before {
    width: 87%;
    animation: skill_3 0.6s ease;
}

.skill-percentage:nth-child(4)::before {
    width: 88%;
    animation: skill_4 0.6s ease;
}

.skill-percentage:nth-child(5)::before {
    width: 81%;
    animation: skill_5 0.6s ease;
}

.skill-percentage:nth-child(6)::before {
    width: 75%;
    animation: skill_6 0.6s ease;
}

.skill-percentage:nth-child(7)::before {
    width: 74%;
    animation: skill_7 0.6s ease;
}

.skill-percentage:nth-child(8)::before {
    width: 84%;
    animation: skill_8 0.6s ease;
}

/*HTML*/
@keyframes skill_1 {
    from {
        width: 0;
    }
    to {
        width: 92%;
    }
}

/*CSS*/
@keyframes skill_2 {
    from {
        width: 0;
    }
    to {
        width: 95%;
    }
}

/*JS*/
@keyframes skill_3 {
    from {
        width: 0;
    }
    to {
        width: 87%;
    }
}

/*TYPESCRIPT*/
@keyframes skill_4 {
    from {
        width: 0;
    }
    to {
        width: 88%;
    }
}

/*REACT*/
@keyframes skill_5 {
    from {
        width: 0;
    }
    to {
        width: 81%;
    }
}

/*EXT*/
@keyframes skill_6 {
    from {
        width: 0;
    }
    to {
        width: 75%;
    }
}

/*WORDPRESS*/
@keyframes skill_7 {
    from {
        width: 0;
    }
    to {
        width: 74%;
    }
}

/*Knockout JS*/
@keyframes skill_8 {
    from {
        width: 0;
    }
    to {
        width: 84%;
    }
}

/* programing tools percentages*/
.skill-percentage-tooling:nth-child(1)::before {
    width: 82%;
    animation: tooling_1 0.6s ease;
}

.skill-percentage-tooling:nth-child(2)::before {
    width: 82%;
    animation: tooling_2 0.6s ease;
}

.skill-percentage-tooling:nth-child(3)::before {
    width: 71%;
    animation: tooling_3 0.6s ease;
}

@keyframes tooling_1 {
    from {
        width: 0;
    }
    to {
        width: 82%;
    }
}

@keyframes tooling_2 {
    from {
        width: 0;
    }
    to {
        width: 82%;
    }
}

@keyframes tooling_3 {
    from {
        width: 0;
    }
    to {
        width: 71%;
    }
}

@media (max-width: 1200px) {
    .profile {
        width: 100vw;
        position: static;
        z-index: 0;
    }

    .contact-info {
        margin-top: 70px;
    }

    .profile h1 {
        padding-top: 20px;
    }

    .contact-presentation {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-padding {
        padding: 80px 15% 40px 10%;
    }

    .content {
        width: 100vw;
        margin-left: 0;
    }
}

@media (max-width: 450px) {
    .profile h1 {
        font-size: 1.8em;
        padding-top: 20px;
    }

    .contact-info {
        margin-top: 50px;
    }

    .section-padding {
        padding: 40px 10% 20px 5%;
    }

    .content-item {
        flex-direction: column;
        margin-right: 10px;
    }

    .content-info {
        padding-right: 40px;
    }
}
